name: Deploy HTML to Azure Web App - cooler

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read # erforderlich für actions/checkout
      id-token: write # erforderlich für Azure Login

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_E4B06298691844F9B6767AC3D51E6F2A }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_8C606D547A8C4F7EAF8EFE452D973DA9 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_20B9E35CF1D04950BE48169AA3285250 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        id: deploy-to-webapp
        with:
          app-name: 'cooler'
          slot-name: 'Production'
          package: ./meine-webapp/index.html   # <-- hier dein Ordner mit index.html

